@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.css");
@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/light.css");

body {
  margin: 20px auto;
  padding: 0 10px;
  max-width: 900px;
}

html {
  scrollbar-color: rgb(170, 170, 170) #fff;
  scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  scrollbar-width: thin;
}

@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #040a0f #202b38;
    scrollbar-color: var(--scrollbar-thumb) var(--background-body);
  }
}
